/* hide apple music's logo */
.logo {
	display: none !important;
}

/* hide "Open in Music" and exit beta */
button[data-testid="exit-beta"],
div[data-testid="native-cta"] {
	display: none !important;
}

/* "Also avaliable on iTunes Store" */
.tracklist-footer__native-cta-wrapper {
	display: none !important;
}

/* the floating buttons on the right upper corner */
div[slot="secondary-actions"] {
	position: fixed;
	z-index: 2;
	margin-right: 5px;
}

/* translation/transliteration button on immersive mode */
.lyrics-translation-menu {
	margin-top: env(titlebar-area-height, 0);
}
